.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo{
    width: 100px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color:black;
    font-size: 12px;
    
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: #2E66F0;
    font-size: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid #2E66F0;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #2E66F0;
}

.navbar li{
    cursor: pointer;
    font-size: 10px;

}

.navbar li:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid #2E66F0;
}

.navbar-search-icon{
    position: relative;
    cursor: pointer;

}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color:#2E66F0;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}